<% if current_page?(:controller => 'posts', :action => 'new') %>
    <h2 id="edit_title">new post</h2>
<% elsif current_page?(:controller => 'posts', :action => 'edit') %>
    <h2 id="edit_title">edit post</h2>
<% end %>
<hr>
<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
        <ul>
            <%= @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title, :placeholder => "Title", :required => true %> <!-- Displaying label and input for the title -->

    <br><br>

    <%= f.label :time %><br>
    <%= f.number_field :time, :placeholder => "0 (minutes)", :required => true %>

    <br><br>

    <%= f.label :snippet %><br>
    <%= f.text_area :snippet, :placeholder => "Short snippet of your post", :required => true %>

    <br><br>

    <%= f.label :content, "Content" %><br>
    <%= f.text_area :content, :placeholder => "Write your article here", :required => true %>

    <br><br>

    <%= f.submit %>
<% end %>
