<div id="posts-wrapper">

    <%= link_to 'New Post', new_post_path, :class => 'new_post_link button' %>

    <div class="post featured">
        <h4 class="featured-label">featured</h4>
        <p class="date">
            <%= @posts.first.created_at.strftime('%b %d, %Y') %>
            <span>·</span>
            <%= "#{@posts.first.time} minute read" %>
        </p>
        <h2 class="post-title"><%= link_to @posts.first.title, @posts.first %></h2>
        <p class="snippet">
            <%= @posts.first.snippet + ". . ." %>
        </p>
    </div>

    <hr>

    <% @posts.each do |post| %>
        <% if post != @posts.first %>
            <div class="post">
                <p class="date">
                    <%= post.created_at.strftime('%b %d, %Y') %>
                    <span>·</span>
                    <%= "#{post.time} minute read" %>
                </p>
                <h2 class="post-title"><%= link_to post.title, post %></h2>
                <p class="snippet">
                    <%= post.snippet + ". . ." %>
                </p>
            </div>
        <% end %>
    <% end %>

    <!-- <%= link_to 'Create a Post', new_post_path %> -->

</div>
