<div class="post-show-wrapper">

    <%= link_to 'â† Back', posts_path, class: 'back-link' %>
    <%= link_to 'Edit', edit_post_path(@post), :class => 'edit_link button' %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'delete_link button' %>

    <div class="post">
        <div class="article-header">
            <h4 class="date"><%= @post.created_at.strftime('%b %d, %Y') %></h4>
            <h3 class="title"><%= @post.title %></h3>
        </div>

        <p><%= markdown @post.content %></p>
    </div>
</div>

<hr>

<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//justinyu.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
