<!DOCTYPE html>
<html>
<head>
  <title>Justin Yu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon-48.ico' %>
  <%= favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="skinny-wrapper">
        <% if notice %>
            <p class="notice"><%= notice %></p>
        <% elsif alert %>
            <p class="alert"><%= alert %></p>
        <% end %>

        <div class="logo-wrapper-outside">
            <!-- <%= nav_link '__', root_path %> -->
            <a href="/" class="logo-link">
                <%= image_tag('logo.png', :alt => 'Justin Yu', :class => 'logo') %>
            </a>
        </div>
        <div id="navbar" class="nav-collapse">
            <ul>
                <li>
                    <div class="logo-wrapper">
                        <!-- <%= nav_link '__', root_path %> -->
                        <a href="/" class="logo-link">
                            <%= image_tag('logo.png', :alt => 'Justin Yu', :class => 'logo') %>
                        </a>
                    </div>
                </li>
                <li>
                    <%= nav_link 'blog', posts_path %>
                    <!-- <a href="/posts">blog</a> -->
                </li>
                <li>
                    <%= nav_link 'about', about_path %>
                </li>
                <li>
                    <%= nav_link 'contact', contact_path %>
                </li>
                <li>
                    <!-- <%= nav_link 'contact', root_path %> -->
                    <%= nav_link 'login', new_user_session_path %>
                </li>
            </ul>
        </div>
        <hr id="separator-main">
        <div id="content-main">
            <%= yield %>
        </div>
    </div>
    <% if current_page?(:controller => '/welcome', :action => 'index') %>
        <footer id="main-footer">
            <p class="copyright">
                © Justin Yu 2015
            </p>
            <nav>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </nav>
        </footer>
    <% end %>

    <script>
      var nav = responsiveNav(".nav-collapse");
    </script>
</body>
</html>
