<!DOCTYPE html>
<html>
<head>
  <title>Justin Yu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon-48.ico" sizes="48x48">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="skinny-wrapper">

        <div id="navbar">

            <ul>
                <li>
                    <div class="logo-wrapper">
                        <!-- <%= nav_link '__', root_path %> -->
                        <a href="/" class="logo-link">
                            <%= image_tag('logo.png', :alt => 'Justin Yu', :class => 'logo') %>
                        </a>
                    </div>
                </li>
                <li>
                    <%= nav_link 'blog', posts_path %>
                    <!-- <a href="/posts">blog</a> -->
                </li>
                <li>
                    <!-- <%= nav_link 'about', root_path %> -->
                    <a href="#">about</a>
                </li>
                <li>
                    <!-- <%= nav_link 'contact', root_path %> -->
                    <a href="#">contact</a>
                </li>
                <li>
                    <!-- <%= nav_link 'contact', root_path %> -->
                    <a href="#">login</a>
                </li>
            </ul>
        </div>
        <div id="content-main">
            <%= yield %>
        </div>
    </div>

    <footer id="main-footer">
        <p class="copyright">
            © Justin Yu 2015
        </p>
        <nav>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </nav>
    </footer>

</body>
</html>
